node_modules
**/node_modules
dist
.next
npm-debug.log
Dockerfile
docker-compose.yml
.git
.gitignore
.vscode

# Ignore all test files
**/*.test.*
**/*.spec.*

# Ignore vitest config files
**/vitest.config.ts
**/vitest.config.mts